@model IEnumerable<Blog.Models.ArticleModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Поиск</title>
    @Html.Partial("~/Views/Shared/Header.cshtml")
</head>
<body>
    <div id="main">
        <div id="left_content" style="background-image: url('/Content/images/search.jpg')">
            <div id="txt">
                <h1>Поиск по</h1>
                <p id="qSearch">@ViewBag.QuerySearch</p>
            </div>
        </div>

        <div id="right_content">
            @Html.Partial("~/Views/Shared/TopMenu.cshtml")

            
                @if (Model.Count() != 0)
                {
                    <div id="search_result">
                        @foreach (var article in Model)
                        {
                            <div id="article" class="preview">

                                <div id="title">
                                    <h2>@Html.ActionLink(@article.Title, "ViewArticle", new { controller = "Article", articleId = @article.Id })</h2>

                                    <div id="info">
                                        <span id="date">@article.DatePublication</span>
                                        <span id="user"><img src="/Content/images/icon_user_gray.png" /> @Html.ActionLink(@article.Blogger.Login, "ViewArticlesOfBlogger", new { controller = "Article", bloggerId = @article.Blogger.Id })</span>
                                    </div>
                                </div>

                                <div id="content">@article.Content</div>
                            </div>

                            <div id="separate">***</div>
                        }
                    </div>
                }
                else
                {
                    <h2>Данный запрос не дал результатов</h2>
                }
        </div>
    </div>
</body>
</html>
