@using Blog.Models

@model IEnumerable<Blog.Models.SectionViewModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Редактирование категорий</title>
    @Html.Partial("~/Views/Shared/Header.cshtml")
</head>
<body>

    <div id="main">
        <div id="left_content" style="background-image: url('/Content/images/index.jpg')">
            <div id="txt">
                <h1>Редактирование категорий</h1>                
            </div>
        </div>

        <div id="right_content">
            @Html.Partial("~/Views/Shared/TopMenu.cshtml")
            @if (Model.Count() != 0)
            {
                <div id="section">
                    @foreach (var s in Model)
                    {
                    <div>
                        @s.Name
                        @Html.ActionLink("×", "DeleteSection", new { controller = "Section", sectionId = s.Id }, new {@title = "Удалить"})
                    </div>
                    }
                </div>

                using (@Html.BeginForm("AddSection", "Section", FormMethod.Post))
                {

                    @Html.LabelFor(m => m.FirstOrDefault().Name)
                    @Html.TextBoxFor(m => m.FirstOrDefault().Name, new { Value = "" })
                
                    <input type="submit" id="createSection" value="Добавить" class="button" />
                }


            }
        </div>
    </div>

</body>
</html>