@using Blog.Helpers
@using Blog.Models


@model IEnumerable<Blog.Models.ArticleModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Поиск по тегу</title>
    @Html.Partial("~/Views/Shared/Header.cshtml")
</head>
<body>
    <div id="main">
        <div id="left_content" style="background-image: url('/Content/images/tag.jpg')">
            <div id="txt">
                <h1>Поиск по тегу</h1>
                <p>#@Html.Action("GetTagById", "Tag", new { tagId = @ViewBag.TagId})</p>
            </div>
        </div>

        <div id="right_content">
            @Html.Partial("~/Views/Shared/TopMenu.cshtml")

            @foreach (var item in Model)
            {
                @Html.Action("PreViewArticle", "Article", new { articleId = item.Id })
            }
            
            <div id="paginator">
                @Html.PageLinks((PageInfo)ViewBag.PageInfo, x => Url.Action("SearchByTag", new { controller = "Article", tagId = @ViewBag.TagId, page = x }))
            </div>
            
        </div>
    </div>
</body>
</html>
