@model Blog.Models.ArticleViewModel
          
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Редактирование статьи</title>
    @Html.Partial("~/Views/Shared/Header.cshtml")
</head>
<body>
    <div id="main">
        <div id="left_content" style="background-image: url('/Content/images/edit_article.jpg')">
            <div id="txt">
                <h1>Редактирование статьи</h1>
            </div>
        </div>

        <div id="right_content">
            @Html.Partial("~/Views/Shared/TopMenu.cshtml")

            @using (@Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "")

                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)

                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content)

                @Html.LabelFor(m => m.Tags)
                @Html.TextBoxFor(m => m.Tags)

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.SectionId)
                @Html.HiddenFor(m => m.CountShows)
                @Html.HiddenFor(m => m.CountLikes)
                @Html.HiddenFor(m => m.BloggerId)


                <input type="submit" id="editArticle" value="Сохранить статью" class="button"/>
            }

        </div>
    </div>
</body>
</html>
