@model Blog.Models.ArticleModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.DisplayFor(m => m.Title)</title>
    @Html.Partial("~/Views/Shared/Header.cshtml")
</head>
<body>
    <div id="main">
        <div id="left_content" style="background-image: url('/Content/images/index.jpg')">
            <div id="txt">
                <h1>@Html.DisplayFor(m => m.Title)</h1>
                <p id="date">@Html.DisplayFor(m => m.DatePublication)</p>
                <p id="user"><img src="/Content/images/icon_user_white.png"/>
                @Html.ActionLink(@Model.Blogger.Login, "ViewArticlesOfBlogger", new { controller = "Article", bloggerId = @Model.BloggerId })</p>
            </div>
        </div>


        <div id="right_content">
            @Html.Partial("~/Views/Shared/TopMenu.cshtml")

            <div id="article">
                <div id="content">@Html.DisplayFor(m => m.Content)</div>

                <div id="tags">@Html.Action("GetTagsOfArticle", "Tag", new { articleId = @Model.Id })</div>
                <!--@Html.DisplayFor(m => m.CountShows)-->
                
                @if ((Request.IsAuthenticated && (Convert.ToInt32(Profile.GetPropertyValue("Id")) == Model.BloggerId)) || User.IsInRole("admin"))
                {
                    @Html.ActionLink("Редактировать", "UpdateArticle", new { controller = "Article", articleId = @Model.Id})
                    @Html.ActionLink("Удалить", "DeleteArticle", new { controller = "Article", articleId = @Model.Id, bloggerId = @Model.BloggerId })                              
                }
                
                @if (Request.IsAuthenticated) { 
                    @Html.Action("AddComment", new { controller = "Comment", articleId = Model.Id })
                }

                <div id="all_comments">
                    @Html.Action("GetCommentsOfArticle", new { controller = "Comment", articleId = @Model.Id })
                </div>
            </div>
        </div>
    </div>
</body>
</html>
